@font-face {
    font-family: "Futura Light";
    src: url("fonts/futura-light.woff2") format("woff");
}

h2 {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
    font-size: 20pt;
}

body {
    font-family: 'Futura Light', sans-serif;
    font-size: 16pt;
}

button {
    background-color: #2F2E2E;
    border: 1px solid white;
    color: white;
    font-family: 'Cinzel';
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flashcard {
    min-width: 400px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
}

.prev-next {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#show-answer {
    min-width: 300px;
    max-width: 600px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

#prev-question, #next-question {
    display: inline-block;
    align-items: center;
    min-width: 150px;
    max-width: 300px;
}

#counter {
    font-size: 12pt;
}

@media screen and (max-width: 540px) {
    /* For mobile phones: */
    .flashcard {
        min-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    #show-answer {
        min-width: 100%;
    }
    .prev-next {
        min-width: 100%;
    }
    #prev-question, #next-question {
        min-width: none;
        max-width: none;
        width: 50%;
    }

}

@media (hover: hover) {
    button:hover {
      opacity: 75%;
    }
}

@media (hover: none) {
    button:active {
        opacity: 75%;
    }
}